In [1]:
import pandas as pd
import PyPDF2
import io
import requests
import csv
from bs4 import BeautifulSoup

df1 = pd.read_csv('human_freedom.csv')
df1 = df1[df1['Edition'] == 2022]
df1 = df1[['Country/Territory', 'Region', 'Status', 'PR rating', 'CL rating']]
df1.to_csv('1.csv', index=False)
df1

url = 'https://ceoworld.biz/2022/08/15/these-are-the-countries-with-the-highest-average-salaries-2022/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find('table')
df2 = pd.read_html(str(table))[0]
df2.to_csv('2.csv', index=False)
df2

res = {}
name_lst = []
gdp_lst = []
pop_lst = []

for country_name in df2["Country"]:
    api_url = 'https://api.api-ninjas.com/v1/country?name=' + country_name
    response = requests.get(api_url, headers={'X-Api-Key': 'lV64aMkb3ASIQJxAEDPvBA==ooPY0A3doMMDVmTO'})

    if response.status_code == requests.codes.ok:
        for r in response.json():
            name_lst.append(r['name'])
            gdp_lst.append(r['gdp'])
            pop_lst.append(r['pop_density'])
    else:
        print("Error:", response.status_code, response.text)

res = {
    'name': name_lst,
    'gdp': gdp_lst,
    'pop_density': pop_lst
}
df3 = pd.DataFrame(data=res)
df3.to_csv('3.csv',index=False)
df3

                                  name         gdp  pop_density
0                          Switzerland    705141.0        219.0
1                            Singapore    361115.0       8357.6
2                            Australia   1453871.0          3.3
3                        United States  20580223.0         36.2
4                 United Arab Emirates    414179.0        118.3
..                                 ...         ...          ...
97   Venezuela, Bolivarian Republic Of    208338.0         32.2
98                               Nepal     27830.0        203.3
99                             Nigeria    421821.0        226.3
100                           Pakistan    282346.0        286.5
101                          Sri Lanka     88942.0        341.5

[102 rows x 3 columns]